.portfolio {
    padding-top: 100px;
    & h1 {
        text-align: center;
        margin-bottom: 0;
        font-weight: 400;
        font-family: $font-poppins;
        cursor: default;
        & span {
            font-weight: 600;
        } 
    }
    & p {
        text-align: center;
        font-family: $font-poppins;
        color: $secondary;
    }
    & .card {
        background: transparent;
        height: 100%;
        border: none; 
        padding: 8px;
        border-radius: 0; 
        & img {
            width: 100%;
            height: auto;
            aspect-ratio: 16/9;
            object-fit: cover;
            border-radius: 22px 0 0 0;
        }
        &-body {
            padding: 8px;
            border-radius: 0 0 22px 0;
            & h5 {
                margin-top: 8px;
                margin-bottom: 0;
                font-family: $font-poppins;
                cursor: default;
                color: $tosca;
            }
            & a {
                text-decoration: none;
                display: flex;
                flex-direction: row;
                align-items: center; 
                margin-top: 0;
                & span{
                    font-size: 1rem;
                    font-weight: 600;
                }
                & i{
                    font-size: 1.2rem;
                    margin-right: 8px;
                }
            }
        }
        &:hover {
            padding: 0;
            transition: all 0.5s;
        }
    }
    & .pagination_ {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        list-style: none;
        & .page_item {
            margin-left: 8px;
            margin-right: 8px;
            opacity: 0.8;
            background: $tosca;
            border: 2px solid transparent;
            & a {
                padding: 6px 12px;
                font-weight: 500;
                font-family: $font-poppins;
            }
            &.active {
                opacity: 1;
                color: $dark;
            }
            &:hover {
                border: 2px solid $tosca;
                background: transparent;
                transition: all 0.5s;
            }
        }
    }
}

.dark-mode {
    & .portfolio {
        & h1 {
            color: $light;
        }
        & .card {
            &-body {
                background: $like-dark;
                & a {
                    color: $secondary;
                }
            }
        }
        & .pagination_ .page_item:hover a {
            color: $tosca;
        }
    }
}

.light-mode {
    & .portfolio {
        & h1 {
            color: $dark;
        }
        & .card {
            &-body {
                background: #f6fef7;
                & a {
                    color: $secondary;
                }
            }
        }
    }
} 